body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #8ec998;
}

header {
    background: #c60000;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #8b0000;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: rgb(236, 234, 234);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #8b0000;
}

.cartinha-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #bbb;
}

footer {
    background: #c60000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
